@{
    Layout = "_Layout";
}

<h1>Welcome, Pierre.</h1>
<div id="splash-intro">
    What would you like to do?
</div>
<br><h3><a href='/vendors'>View Vendors</a></h3><br>
<h3><a href='/vendors/new'>Add Vendor</a></h3>