@{
    Layout = "_Layout";
}

@using Pierres.Models;

    <h1>Vendors</h1>

    <h3 class="intruct-h3">Click Vendor to view associated Orders</h3>
    @if (@Model.Count == 0)
    {
    <h3>No Vendors have been added yet!</h3>
    } 

    @foreach (Vendor vendor in Model)
    {
    <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
    <p>@vendor.Description</p>
    }

    <div id="links">
        <a href='/vendors/new'>Add Vendor</a>
        <br>
        <a href='/'>Back home</a>
    </div>