@{
    Layout = "_Layout";
}

<h1>Create a Vendor</h1>
<p>Add a vendor:</p>
<div id="form-div">
    <form action="/vendors" method="post">
        <label for="vendorName">Name: </label>
        <br>
        <input id="vendorName" name="vendorName" type="text">
        <br>
        <label for="vendorDescription">Description: </label>
        <br>
        <input id="vendorDescription" name="vendorDescription" type="text">
        <br>
        <button type="submit">Submit Vendor</button>
    </form>
</div>
<br>
<div id="links">
    <a href='/'>Back home</a>
    <a href="/vendors">Vendors List</a>
</div>