body {
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategray;
    color: white;
}
a {
    color: rgb(147, 217, 241);
}

a:hover {
    color: rgb(194, 147, 238);
}